* {
    padding: 0%;
    margin: 0%;
}

.block {
    height: auto;
    width: 100%;
    padding: 1% 0%;
    margin-bottom: 5%;
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, 0.36);
}

h1 {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

.titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.titleName {
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin-right: 3%;
}

.titleContact {
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin-right: 1%;
}

.iconlink {
    height: 20px;
    width: 20px;
    background-image: url('../img/linkedin.png');
    background-size: 100%;
    transition: 0.5s;
}

.iconlink:hover {
    transition: 0.5s;
    -webkit-transform: scale(2);
    transform: scale(2);
    border-radius: 5px;
    box-shadow: whitesmoke 0px 0px 5px;
}

body {
    height: 700px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url(../img/36.jpg);
    background-size: 150%;
    background-color: rgb(31, 31, 31);
}

.containerMonts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 715px;
    height: auto;
    box-shadow: whitesmoke 0px 0px 50px;
}

.boxSelect {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    width: 700px;
}

.boxTwo:hover {
    background-color: rgba(255, 255, 255, 0.743);
    transition: 0.5s;
    box-shadow: whitesmoke 0px 0px 10px;
}

.boxTwo {
    font-size: 25px;
    width: 150px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(188, 188, 188, 0);
    border-radius: 10px;
    border: solid rgba(245, 245, 245, 0.306) 1px;
    box-shadow: whitesmoke 0px 0px 5px;
}

.boxIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    color: whitesmoke;
    height: 500px;
    width: 90%;
    text-align: center;
}

.boxEnter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100px;
    width: 250px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(188, 188, 188, 0);
    border-radius: 10px;
    border: solid rgba(245, 245, 245, 0.306) 1px;
    box-shadow: whitesmoke 0px 0px 5px;
}

.boxEnter:hover {
    background-color: rgba(255, 255, 255, 0.743);
    transition: 0.5s;
    box-shadow: whitesmoke 0px 0px 10px;
}

.timeDate {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

/*-------Calendrier-------*/
.containerOther {
    opacity: 0%;
    margin: 0%;
    border: solid white 1px;
    height: 100px;
    width: 100px;
}

.boxDay {
    z-index: 0;
    margin: 0%;
    border: solid rgba(255, 255, 255, 0.292) 1px;
    height: 100px;
    width: 100px;
    color: white;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    background-color: rgba(79, 79, 79, 0.548);
    transition: 0s;
}

.boxDay:hover {
    transition: 0.3s;
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(152, 152, 152, 0.548);
}

.week {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: whitesmoke;
    height: 50px;
    width: 100px;
    backdrop-filter: blur(5px);
    background-color: rgba(206, 16, 16, 0.606);
    border: solid rgba(68, 2, 2, 0.292) 1px;
}

#paqueDay,
#paqueMonth,
#today,
#monthsToday,
#yearsToday,
#tuesdayDay,
#tuesdayMonth,
#tuesdayYear {
    display: none;
}

.today {
    z-index: 1;
    background-image: url('../img/today.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(201, 201, 201, 0.842);
    box-shadow: whitesmoke 0px 0px 20px;
}

.noel {
    background-image: url('../img/sapin-de-noel.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.Armistice {
    background-image: url('../img/Armistice.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.victoire {
    background-image: url('../img/1945.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.stValentin {
    background-image: url('../img/saint-valentin.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.feuDart {
    background-image: url('../img/feux-dartifice.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.halloween {
    background-image: url('../img/halloween.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.musique {
    background-image: url('../img/musique.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.galette {
    background-image: url('../img/galette.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.mardiGras {
    background-image: url('../img/mardi-gras.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.new {
    background-image: url('../img/new.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.end {
    background-image: url('../img/end.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.poisson {
    background-image: url('../img/poisson.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.patrick {
    background-image: url('../img/patrick.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.work {
    background-image: url('../img/travail.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.paque {
    background-image: url('../img/lapin.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.next {
    height: 50px;
    width: 50px;
    background-image: url('../img/next.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.previous {
    height: 50px;
    width: 50px;
    background-image: url('../img/previous.png');
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#todayMen {
    left: -25vw;
    top: -5vw;
    transition: 2s;
    position: fixed;
    z-index: 1;
    margin-left: 1000px;
    margin-top: 400px;
}

.fontC {
    font-size: 100px;
    color: rgb(228, 107, 228);
    text-shadow: rgb(238, 130, 238) 0px 0px 20px;
    transition: 1s;
}

.textEnter {
    margin-bottom: 5%;
}